<!DOCTYPE HTML>

<html lang="en">
    <head>
        {% block head %}
        <link rel="stylesheet" href="/../static/style.css"/>
        <title>
            Pantry - {% block title %}{% endblock title %}
        </title>
        {% endblock head %}
    </head>
    
    <body>
        <div id="content">
            {% block content %}
            Empty page...
            {% endblock content %}
        </div>
        <p align="center"><b><a href="/">Home</a></b></p>
    </body>
</html>